.flexbox-container {
    background-color: #333333;
    margin: 3%;
    padding: 3%;
    overflow: auto;
}

.text {
    font-size: large;
}

.portrait {
    height: auto;
    width: 30%;
    float: right;
    margin-left: 3%;
    margin-right: 3%;
}


@media screen and (max-width: 480px) {
    .flexbox-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portrait {
        float: none;
        width: 80%;
    }
}
