/*body
{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 90vh; 
    padding: 1%;
}
*/
.flexbox-container
{
    background-color: #333333;
    width: 90%;
    height: auto;
    padding: 2%;
}

.text
{
    font-size: large;
}

.portrait
{
    height: auto;
    width: 30%;
    float: right;
    margin-left: 3%;
    margin-right: 3%;
}