body
{
    background-image: none !important;
    background-color: black;
}

.video-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.DisplayVideo
{
    display: none;
}

.text-container 
{
    width: auto;
}
  
.chat-container {
    height: auto;
    overflow: hidden;
  }
  
.chat-output,
.code-font-link
{
    line-height: 2;
    color: white;
    font-family: Monaco, monospace;
    font-size: xx-large;
}

  
.code-font-link
{
    text-decoration: none;
    color: #8A2BE2;
}

@media screen and (max-width: 768px) {
    .chat-output,
    .code-font-link {
      font-size: large;
    }
  }
  
  @media screen and (max-width: 480px) {
    .chat-output,
    .code-font-link {
      font-size: medium; 
    }
  }
  
