body
{
  background-image: none !important;
   background-color: black;
}

.video-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.DisplayVideo{
  display: none;
}

.text-container {
   padding: 3%;
   width: auto;
}

  
.code-font,
.code-font-link
{
    color: white;
    font-family: Monaco, monospace;
    font-size: xx-large;
}

.code-font-link
{
    text-decoration: none;
    color: #8A2BE2;
}
  
.chat-container {
    height: auto;
    overflow: hidden;
  }

.chat-output {
    font-family: Monaco, monospace;
    font-size: 14px;
    line-height: 2;
  }


@media screen and (max-width: 768px) {
    .code-font,
    .code-font-link {
      font-size: large;
    }
  }
  
  @media screen and (max-width: 480px) {
    .code-font,
    .code-font-link {
      font-size: medium; 
    }
  }
  
