.video-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.text-container
{
    padding: 5%;
}

.code-font,
.code-font-link
{
    font-family: Monaco, monospace;
    font-size: xx-large;
}

.code-font-link
{
    text-decoration: none;
    color: #8A2BE2;
}

.DisplayVideo
{
    display: none;
}
