/* Set standart font */
p{
    font-family: Arial, sans-serif;
    color: white;
}

/* Set standart head */
h1{
    font-family: Arial, sans-serif;
    color: white;
}

/* Set standart head 2*/
h2{
    font-family: Arial, sans-serif;
    color: white;
}

/* Set background image */
body{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


