.navbar {
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4vh;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigationlinks */
.navbar-content,
.navbar-currentItem {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 20px;
    font-size: 2.5vh;
}

/* Current site-title gets colored pink*/
.navbar-currentItem {
    color: #8A2BE2;
}
