h1{
    margin-bottom: 2%;
}

.flexbox-container{
    background-color: #333333;
    margin: 3%;
    padding: 3%;
}

.progress-bar 
{
    width: 100%;
    height: 3vh;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 2%;
    overflow: hidden;
}

.progress 
{
    height: 100%;
    background-color: #8A2BE2;
    width: var(--progress-percent, 0%);
}