/* Set standart font */
p{
    font-family: Arial, sans-serif;
    color: white;
}

/* Set standart head */
h1{
    font-family: Arial, sans-serif;
    color: white;
}

/* Set background image */
body{
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



/* Set site title */
.site-title
{
    align-self: flex-start; /* Positioniert den Site-Titel am Anfang der Flexbox */
    text-align: left; /* Links ausrichten */
    color: #8A2BE2; 
    font-size: xx-large;
}

